@font-face {
    src: url("../fonts/ethnocentric-rg.ttf");
}

@font-face {
    src: url("../fonts/ethnocentric-rg-it.ttf");
}

@font-face {
    src: url("../fonts/Exo2-Black.ttf");
}

@font-face {
    src: url("../fonts/Exo2-Medium.ttf");
}

.mainPane {
    -fx-background-image: url("../img/scenes/bg.png");
}

.boardArea {
    -fx-max-height: 750px;
    -fx-min-height: 750px;

    -fx-max-width: 1300px;
    -fx-min-width: 1300px;
}

.map {
    -fx-effect: dropshadow(gaussian, rgba(255, 255, 255, 0.3), 20, 0.5, 0, 0);
}

.powerupDeck {
    -fx-image: url("../img/powerups/powerup_back.png");
}

.weaponDeck {
    -fx-image: url("../img/weapons/weapon_back.png");
}

.blueWeapon {
     -fx-rotate: 0deg;
 }

.redWeapon {
    -fx-rotate: 270deg;
}

.yellowWeapon {
    -fx-rotate: 90deg;
}

.weaponZoom {
    visibility: hidden;
}

.weaponZoomImage {
    -fx-effect: dropshadow(gaussian, #F44336, 15, 0.2, 0, 0);
}

.iconList {
    -fx-min-width: 120px;
    -fx-max-width: 120px;
}

#blueWeapon0 {
    -fx-image: url("../img/weapons/thor.png");
}

#blueWeapon1 {
    -fx-image: url("../img/weapons/furnace.png");
}

#blueWeapon2 {
    -fx-image: url("../img/weapons/power_glove.png");
}

#redWeapon0 {
    -fx-image: url("../img/weapons/heatseeker.png");
}

#redWeapon1 {
    -fx-image: url("../img/weapons/whisper.png");
}

#redWeapon2 {
    -fx-image: url("../img/weapons/plasma_gun.png");
}

#yellowWeapon0 {
    -fx-image: url("../img/weapons/zx2.png");
}

#yellowWeapon1 {
    -fx-image: url("../img/weapons/rocket_launcher.png");
}

#yellowWeapon2 {
    -fx-image: url("../img/weapons/shotgun.png");
}

#blue {
    -fx-image: url("../img/players/blueFigure.png");
}

#green {
    -fx-image: url("../img/players/greenFigure.png");
}

#grey {
    -fx-image: url("../img/players/greyFigure.png");
}

#purple {
    -fx-image: url("../img/players/purpleFigure.png");
}

#yellow {
    -fx-image: url("../img/players/yellowFigure.png");
}

#blueIcon {
    -fx-image: url("../img/players/blueIcon.png");
    -fx-effect: dropshadow(gaussian, #F44336, 15, 0.3, 0, 0);
}

#greenIcon {
    -fx-image: url("../img/players/greenIcon.png");
    -fx-opacity: 0.5;
}

#greyIcon {
    -fx-image: url("../img/players/greyIcon.png");
    -fx-opacity: 0.5;
}

#purpleIcon {
    -fx-image: url("../img/players/purpleIcon.png");
    -fx-opacity: 0.5;
}

#yellowIcon {
    -fx-image: url("../img/players/yellowIcon.png");
    -fx-opacity: 0.5;
}