@font-face {
    src: url("../fonts/ethnocentric-rg.ttf");
}

@font-face {
    src: url("../fonts/ethnocentric-rg-it.ttf");
}

@font-face {
    src: url("../fonts/Exo2-Black.ttf");
}

@font-face {
    src: url("../fonts/Exo2-Medium.ttf");
}

.mainPane {
    -fx-background-image: url("../img/scenes/bg.png");
    -fx-alignment: CENTER;
}

.boardArea {
    -fx-max-height: 750px;
    -fx-min-height: 750px;

    -fx-max-width: 1300px;
    -fx-min-width: 1300px;
}

.map {
    -fx-effect: dropshadow(gaussian, rgba(255, 255, 255, 0.3), 20, 0.5, 0, 0);
}

.powerupDeck {
    -fx-image: url("../img/powerups/powerup_back.png");
}

.weaponDeck {
    -fx-image: url("../img/weapons/weapon_back.png");
}

.blueWeapon {
     -fx-rotate: 0deg;
 }

.redWeapon {
    -fx-rotate: 270deg;
}

.yellowWeapon {
    -fx-rotate: 90deg;
}

.weaponZoom {
    visibility: hidden;
}

.weaponZoomImageBlue {
    -fx-effect: dropshadow(gaussian, #536DFE, 15, 0.2, 0, 0);
}

.weaponZoomImageRed {
    -fx-effect: dropshadow(gaussian, #F44336, 15, 0.2, 0, 0);
}

.weaponZoomImageYellow {
    -fx-effect: dropshadow(gaussian, #FFEB3B, 15, 0.2, 0, 0);
}

.turnOwner {
    -fx-effect: dropshadow(gaussian, #F44336, 15, 0.2, 0, 0);
}

.notTurnOwner {
    -fx-opacity: 0.5;
}

.iconList {
    -fx-min-width: 120px;
    -fx-max-width: 120px;
}

#blue {
    -fx-image: url("../img/players/blueFigure.png");
}

#green {
    -fx-image: url("../img/players/greenFigure.png");
}

#grey {
    -fx-image: url("../img/players/greyFigure.png");
}

#purple {
    -fx-image: url("../img/players/purpleFigure.png");
}

#yellow {
    -fx-image: url("../img/players/yellowFigure.png");
}

#blueIcon {
    -fx-image: url("../img/players/blueIcon.png");
}

#greenIcon {
    -fx-image: url("../img/players/greenIcon.png");
}

#greyIcon {
    -fx-image: url("../img/players/greyIcon.png");
}

#purpleIcon {
    -fx-image: url("../img/players/purpleIcon.png");
}

#yellowIcon {
    -fx-image: url("../img/players/yellowIcon.png");
}