@font-face {
    src: url("../fonts/ethnocentric-rg.ttf");
}

@font-face {
    src: url("../fonts/ethnocentric-rg-it.ttf");
}

@font-face {
    src: url("../fonts/Exo2-Black.ttf");
}

@font-face {
    src: url("../fonts/Exo2-Medium.ttf");
}

.mainPane {
    -fx-background-image: url("../img/scenes/bg.png");
    -fx-alignment: CENTER;
}

.boardArea {
    -fx-max-height: 750px;
    -fx-min-height: 750px;

    -fx-max-width: 1300px;
    -fx-min-width: 1300px;
}

.map {
    -fx-effect: dropshadow(gaussian, rgba(255, 255, 255, 0.3), 20, 0.5, 0, 0);
}

.button:hover {
    -fx-effect: dropshadow(gaussian, #F44336, 15, 0.2, 0, 0);
}

.button:pressed {
    -fx-scale-y: 0.95;
    -fx-scale-x: 0.95;
}

.powerupDeck {
    -fx-image: url("../img/powerups/powerup_back.png");
}

.weaponDeck {
    -fx-image: url("../img/weapons/weapon_back.png");
}

.blueWeapon {
    -fx-rotate: 0deg;
}

.redWeapon {
    -fx-rotate: 270deg;
}

.yellowWeapon {
    -fx-rotate: 90deg;
}

.zoomPanel {
    -fx-alignment: center;
    visibility: hidden;
}

.infoPanel {
    visibility: hidden;
}

.actionPanel {
    visibility: hidden;
}

.topInfoPanel {
    -fx-padding: 0 0 20 0;
    -fx-alignment: CENTER;
}

.topActionPanel {
    -fx-padding: 0 0 20 0;
    -fx-alignment: CENTER;
}

.infoTitle {
    -fx-font-family: "Ethnocentric Rg";
    -fx-font-style: italic;
    -fx-font-size: 50px;
    -fx-text-fill: #f3997b;
}

.infoHBOX {
    -fx-max-width: 1300px;
    -fx-min-width: 1300px;
}

.topEndBox {
    -fx-padding: 50 0 0 0;
    -fx-alignment: CENTER;
}

.centerEndBox {
    -fx-max-width: 1200px;
    -fx-alignment: CENTER;
}

.botEndBox {
    -fx-padding: 0 0 50 0;
    -fx-alignment: CENTER;
}

.endTitle {
    -fx-font-family: "Ethnocentric Rg";
    -fx-font-style: italic;
    -fx-font-size: 50px;
    -fx-text-fill: #f3997b;
}

.endTable {
    -fx-min-width: 1320px;
    -fx-max-width: 1320px;

    -fx-min-height: 500px;
    -fx-max-height: 500px;

    -fx-background-color: transparent;
}

.endTable:focused{
    -fx-background-color: transparent;
}

.endTable .column-header {
    -fx-background-color: transparent;
}

.endTable .column-header-background {
    -fx-background-color: transparent;
}

.endTable .column-header-background .label{
    -fx-background-color: transparent;
    -fx-text-fill: red;
}

.endRankColumn {
    -fx-pref-width: 200px;
}

.endIconColumn {
    -fx-pref-width: 120px;
}

.endPlayerColumn {
    -fx-pref-width: 800px;
}

.endPointsColumn {
    -fx-pref-width: 200px;
}

.weaponZoomImageBlue {
    -fx-effect: dropshadow(gaussian, #536DFE, 15, 0.2, 0, 0);
}

.weaponZoomImageRed {
    -fx-effect: dropshadow(gaussian, #F44336, 15, 0.2, 0, 0);
}

.weaponZoomImageYellow {
    -fx-effect: dropshadow(gaussian, #FFEB3B, 15, 0.2, 0, 0);
}

.turnOwner {
    -fx-effect: dropshadow(gaussian, #F44336, 15, 0.2, 0, 0);
}

.notTurnOwner {
    -fx-opacity: 0.5;
}

.iconList {
    -fx-min-width: 120px;
    -fx-max-width: 120px;
}

.actionList {
    -fx-min-width: 120px;
    -fx-max-width: 120px;
}

.squareClickButton {
    -fx-max-height: 134px;
    -fx-min-height: 134px;

    -fx-max-width: 134px;
    -fx-min-width: 134px;

    -fx-background-color: rgba(136, 188, 231, .5);
}

.squareOwnerClickButton {
    -fx-max-height: 134px;
    -fx-min-height: 134px;

    -fx-max-width: 134px;
    -fx-min-width: 134px;

    -fx-background-color: rgba(51, 51, 255, .5);
}

.redSquare {
    -fx-max-height: 134px;
    -fx-min-height: 134px;

    -fx-max-width: 134px;
    -fx-min-width: 134px;

    -fx-background-color: rgba(244, 67, 54, .5);
}

.yellowSquare {
    -fx-max-height: 134px;
    -fx-min-height: 134px;

    -fx-max-width: 134px;
    -fx-min-width: 134px;

    -fx-background-color: rgba(255, 235, 59, .5);
}

.greenSquare {
    -fx-max-height: 134px;
    -fx-min-height: 134px;

    -fx-max-width: 134px;
    -fx-min-width: 134px;

    -fx-background-color: rgba(76, 175, 80, .5);
}

.purpleSquare {
    -fx-max-height: 134px;
    -fx-min-height: 134px;

    -fx-max-width: 134px;
    -fx-min-width: 134px;

    -fx-background-color: rgba(156, 39, 176, .5);
}

.greySquare {
    -fx-max-height: 134px;
    -fx-min-height: 134px;

    -fx-max-width: 134px;
    -fx-min-width: 134px;

    -fx-background-color: rgba(158, 158, 158, .5);
}

.blueSquare {
    -fx-max-height: 134px;
    -fx-min-height: 134px;

    -fx-max-width: 134px;
    -fx-min-width: 134px;

    -fx-background-color: rgba(51, 51, 255, .5);
}

.checkboxImage > .box {
    -fx-background-insets: 0;
    -fx-background-radius: 0;
    -fx-background-color: transparent;
}

.checkboxImage > .box > .mark {
    -fx-background-position: center;
    -fx-background-repeat: stretch;
    -fx-shape: none;
}

.checkboxImage:selected > .box > .mark {
    -fx-background-color: transparent;
}

.checkboxImage:selected {
    -fx-effect: dropshadow(gaussian, #F44336, 15, 0.2, 0, 0);
}

.effectDescBackground {
    -fx-alignment: center;

    -fx-min-width: 180px;
    -fx-max-width: 180px;

    -fx-min-height: 220px;
    -fx-max-height: 220px;

    -fx-background-image: url("/img/weapons/effectbg.png");
}

.effectDesc {
    -fx-min-width: 160px;
    -fx-max-width: 160px;

    -fx-wrap-text: true;
    -fx-font-size: 18px;
    -fx-font-family: "Exo 2 Medium";
}

#blue {
    -fx-image: url("/img/players/blueFigure.png");
}

#green {
    -fx-image: url("/img/players/greenFigure.png");
}

#grey {
    -fx-image: url("/img/players/greyFigure.png");
}

#purple {
    -fx-image: url("/img/players/purpleFigure.png");
}

#yellow {
    -fx-image: url("/img/players/yellowFigure.png");
}

#blueIcon {
    -fx-image: url("/img/players/blueIcon.png");
}

#greenIcon {
    -fx-image: url("/img/players/greenIcon.png");
}

#greyIcon {
    -fx-image: url("/img/players/greyIcon.png");
}

#purpleIcon {
    -fx-image: url("/img/players/purpleIcon.png");
}

#yellowIcon {
    -fx-image: url("/img/players/yellowIcon.png");
}

#spawnBotAction {
    -fx-image: url("/img/actions/spawn_bot.png");
}

#playerSpawnAction {
    -fx-image: url("/img/actions/spawn_player.png");
}

#powerupAction {
    -fx-image: url("/img/actions/powerup.png");
}

#grenadeAction {
    -fx-image: url("/img/actions/tagback_grenade.png");
}

#scopeAction {
    -fx-image: url("/img/actions/targeting_scope.png");
}

#moveAction {
    -fx-image: url("/img/actions/move.png");
}

#movePickAction {
    -fx-image: url("/img/actions/move_pick.png");
}

#shootAction {
    -fx-image: url("/img/actions/shoot.png");
}

#reloadAction {
    -fx-image: url("/img/actions/reload.png");
}

#adrenalinePickAction {
    -fx-image: url("/img/actions/adrenaline_pick.png");
}

#adrenalineShootAction {
    -fx-image: url("/img/actions/adrenaline_shoot.png");
}

#frenzyMoveAction {
    -fx-image: url("/img/actions/frenzy_move.png");
}

#frenzyPickAction {
    -fx-image: url("/img/actions/frenzy_pick.png");
}

#frenzyShootAction {
    -fx-image: url("../img/actions/frenzy_shoot.png");
}

#lightFrenzyPickAction {
    -fx-image: url("/img/actions/light_frenzy_pick.png");
}

#lightFrenzyShootAction {
    -fx-image: url("/img/actions/light_frenzy_shoot.png");
}

#botAction {
    -fx-image: url("/img/actions/bot_action.png");
}

#passTurnAction {
    -fx-image: url("/img/actions/pass_turn.png");
}

#exitButton {
    -fx-image: url("/img/scenes/exitbutton.png");
}