@font-face {
    src: url("../fonts/ethnocentric-rg.ttf");
}

@font-face {
    src: url("../fonts/ethnocentric-rg-it.ttf");
}

@font-face {
    src: url("../fonts/Exo2-Black.ttf");
}

@font-face {
    src: url("../fonts/Exo2-Medium.ttf");
}

/* Main menu */

.mainPane {
    -fx-background-image: url("../img/scenes/bg.png");
}

.topBox {
    -fx-padding: 50 0 0 0;
}

.centerBox {
    -fx-max-width: 500px;
    -fx-spacing: 10;
}

.botBox {
    -fx-padding: 0 0 50 0;
}

.button:hover {
    -fx-effect: dropshadow(gaussian, #F44336, 15, 0.2, 0, 0);
}

.button:pressed {
    -fx-scale-y: 0.95;
    -fx-scale-x: 0.95;
}

.menuTitle {
    -fx-font-family: "Ethnocentric Rg";
    -fx-font-style: italic;
    -fx-font-size: 50px;
    -fx-text-fill: #f3997b;
}

.menuLabel {
    -fx-font-family: "Exo 2 Black";
    -fx-font-size: 25px;
    -fx-text-fill: orange;
}

.menuTextField {
    -fx-background-color: rgba(136, 188, 231, .5);
    -fx-border-color: #19110f;
    -fx-border-width: 2px;
    -fx-border-radius: 1px;

    -fx-font-family: "Exo 2 Medium";
    -fx-font-size: 20px;
    -fx-text-fill: orange;
    -fx-alignment: center;
}

.menuTextField:error {
    -fx-border-color: red;
}

/* Dialog */

.dialogPane {
    -fx-background-image: url("../img/scenes/dialog.png");
}

.topDialog {
    -fx-max-height: 75;
    -fx-min-height: 75;
}

.centerDialog {
    -fx-max-height: 125;
    -fx-min-height: 125;
}

.botDialog {
    -fx-max-height: 100;
    -fx-min-height: 100;
}

.dialogTitle {
    -fx-font-family: "Ethnocentric Rg";
    -fx-font-style: italic;
    -fx-font-size: 30px;
    -fx-text-fill: #f35137;
}

.dialogLabel {
    -fx-font-family: "Exo 2 Black";
    -fx-font-size: 25px;
}

/* Connection */

.connectBox {
    -fx-spacing: 50;
}

/* Color Pick */

.colorBox {
    -fx-max-width: 1500px;
    -fx-hgap: 10;
    -fx-vgap: 20;
}

.card:hover {
    -fx-scale-y: 1.1;
    -fx-scale-x: 1.1;
}

/* Lobby */

.voteTable {
    -fx-min-width: 800px;
    -fx-max-width: 800px;
}

.voteBox {
    -fx-min-width: 700px;
    -fx-max-width: 700px;
    -fx-padding: 10 10 10 10;
    -fx-spacing: 20;
}

.lobbyInnerBox {
    -fx-min-height: 370px;
    -fx-max-height: 370px;
    -fx-min-width: 500px;
    -fx-max-width: 500px;
    -fx-spacing: 20;
}

.voteInnerBox {
    -fx-hgap: 20;
    -fx-vgap: 20;
}

.voteMap:selected {
    -fx-effect: dropshadow(gaussian, #F44336, 15, 0.2, 0, 0)
}

.playerRow {
    -fx-min-width: 500px;
    -fx-max-width: 500px;
    -fx-padding: 10 10 10 10;
    -fx-background-color: rgba(136, 188, 231, .5);

    -fx-font-family: "Exo 2 Medium";
    -fx-font-size: 25px;
    -fx-text-fill: orange;

    -fx-border-color: #19110f;
    -fx-border-width: 2px;
    -fx-border-radius: 1px;
}

/* Images */

#logoImage {
    -fx-image: url("../img/scenes/logo.png");
}

#startButton {
    -fx-image: url("../img/scenes/startbutton.png");
}

#exitButton {
    -fx-image: url("../img/scenes/exitbutton.png");
}

#voteButton {
    -fx-image: url("../img/scenes/votebutton.png")
}

#connectSocketButton {
    -fx-image: url("../img/scenes/connectsocketbutton.png");
}

#connectRmiButton {
    -fx-image: url("../img/scenes/connectrmibutton.png");
}

#backButton {
    -fx-image: url("../img/scenes/backbutton.png");
}

#okButton {
    -fx-image: url("../img/scenes/okbutton.png");
}

#yellowCard {
    -fx-image: url("../img/players/yellow.png");
}

#blueCard {
    -fx-image: url("../img/players/blue.png");
}

#greyCard {
    -fx-image: url("../img/players/grey.png");
}

#purpleCard {
    -fx-image: url("../img/players/purple.png");
}

#greenCard {
    -fx-image: url("../img/players/green.png");
}

#map1 {
    -fx-image: url("../img/maps/vote/map1.png");
}

#map2 {
    -fx-image: url("../img/maps/vote/map2.png");
}

#map3 {
    -fx-image: url("../img/maps/vote/map3.png");
}

#map4 {
    -fx-image: url("../img/maps/vote/map4.png");
}
