@font-face {
    src: url("../fonts/ethnocentric-rg.ttf");
}

@font-face {
    src: url("../fonts/ethnocentric-rg-it.ttf");
}

@font-face {
    src: url("../fonts/Exo2-Black.ttf");
}

@font-face {
    src: url("../fonts/Exo2-Medium.ttf");
}

.mainPane {
    -fx-background-image: url("../img/scenes/bg.png");
}

.topVBox {
    -fx-padding: 50 0 0 0;
}

.centerVBox {
    -fx-max-width: 500px;
    -fx-spacing: 10;
}

.botVBox {
    -fx-padding: 0 0 50 0;
}

.connectHBox {
    -fx-spacing: 50;
}

.menuTitle {
    -fx-font-family: "Ethnocentric Rg";
    -fx-font-style: italic;
    -fx-font-size: 50px;
}

.menuLabel {
    -fx-font-family: "Exo 2 Black";
    -fx-font-size: 25px;
}

.menuTextField {
    -fx-background-color: rgba(254, 192, 115, .5);
    -fx-border-color: #19110f;
    -fx-border-width: 2px;
    -fx-border-radius: 1px;

    -fx-font-family: "Exo 2 Medium";
    -fx-font-size: 20px;
    -fx-alignment: center;
}

.menuTextField:error {
    -fx-border-color: red;
}


.button:hover {
    -fx-effect: dropshadow(gaussian, #F44336, 15, 0.2, 0, 0)
}

.button:pressed {
    -fx-scale-y: 0.95;
    -fx-scale-x: 0.95;
}

#logoImage {
    -fx-image: url("../img/scenes/logo.png");
}

#startButton {
    -fx-image: url("../img/scenes/startbutton.png");
}

#exitButton {
    -fx-image: url("../img/scenes/exitbutton.png");
}

#connectSocketButton {
    -fx-image: url("../img/scenes/connectsocketbutton.png");
}

#connectRmiButton {
    -fx-image: url("../img/scenes/connectrmibutton.png");
}

#backButton {
    -fx-image: url("../img/scenes/backbutton.png");
}